# Ignore files and directories that should not be tracked by Git
# This file is used to specify intentionally untracked files that Git should ignore
*.html
node_modules/
coding_task_manager/
venv/
package-lock.json
config.json
